.bgImg {
    width: 110%;
    height: 70vh;
    margin-top: 6.2rem;

}

.servicesContainer {

    display: flex;
    flex-wrap: wrap;
    padding-left:0.5vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.insideHome>h1 {
    position: absolute;
    top: 60%;
    font-size: 13rem;
    font-family: "Momcake";
    color: #6d35de;

}